<div class="signin-container" *ngIf="signinForm">
  <h2>Sign In</h2>
  <form (ngSubmit)="onSubmit()" [formGroup]="signinForm">
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" formControlName="email" id="email" class="form-control" required>
      <div *ngIf="signinForm.controls['email'].invalid && signinForm.controls['email'].touched" class="text-danger">
        Valid email is required.
      </div>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" formControlName="password" id="password" class="form-control" required>
      <div *ngIf="signinForm.controls['password'].invalid && signinForm.controls['password'].touched" class="text-danger">
        Password is required.
      </div>
    </div>
    <button type="submit" [disabled]="signinForm.invalid" class="btn btn-primary">SIGN IN</button><br>
    <button
      type="submit"
      class="btn btn-primary"
    >
      <a
        class="nav-link"
        routerLink="/signup"
        style="text-decoration: none; color: white"
        >SIGN UP</a
      >
    </button>
  </form>
</div>
