<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
  integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>
<link
  href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap"
  rel="stylesheet"
/>

<section class="container about" id="about">
  <div class="main-title">
    <h2>About <span>me</span></h2>
  </div>
  <div class="about-container">
    <div class="left-about">
      <h4 style="color: white">Information About me</h4>
      <p>
        I have recently started my job career with ******* as an Associate
        Software Engineer. First and Foremost, I am a coder. I loves to write
        clean and decorated code. I have been obsessed with the idea of using
        software to solve practical problems. Software engineering is a never
        ending puzzle that I am passionately engaged in solving.<br />
        I always thought my dream was to be a software engineer at any
        reputational organization with proper dedication and passion. Over the
        course of my studies , I have developed strong writing and communication
        skills, enjoyed collaborations and team work and also a variety of
        interests that I use to maximize my potential.<br />
      </p>
    </div>
    <div class="right-about">
      <div class="about-item">
        <div class="abt-text">
          <p class="large-text">30+</p>
          <p class="small-text">
            Projects <br />
            Completed
          </p>
        </div>
      </div>
      <div class="about-item">
        <div class="abt-text">
          <p class="large-text">1+</p>
          <p class="small-text">
            Years of <br />
            experience
          </p>
        </div>
      </div>
      <div class="about-item">
        <div class="abt-text">
          <p class="large-text">50+</p>
          <p class="small-text">
            Happy <br />
            Clients
          </p>
        </div>
      </div>
      <div class="about-item">
        <div class="abt-text">
          <p class="large-text">90+</p>
          <p class="small-text">
            Customer <br />
            reviews
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="about-stats">
    <h4 class="stat-title">My Skills</h4>
    <div class="progress-bars">
      <div class="progress-bar">
        <p class="prog-title">html5</p>
        <div class="progress-con">
          <p class="prog-text">70%</p>
          <div class="progress">
            <span class="html"></span>
          </div>
        </div>
      </div>
      <div class="progress-bar">
        <p class="prog-title">css3</p>
        <div class="progress-con">
          <p class="prog-text">80%</p>
          <div class="progress">
            <span class="css"></span>
          </div>
        </div>
      </div>
      <div class="progress-bar">
        <p class="prog-title">javascript</p>
        <div class="progress-con">
          <p class="prog-text">75%</p>
          <div class="progress">
            <span class="js"></span>
          </div>
        </div>
      </div>
      <div class="progress-bar">
        <p class="prog-title">Angular</p>
        <div class="progress-con">
          <p class="prog-text">75%</p>
          <div class="progress">
            <span class="react"></span>
          </div>
        </div>
      </div>
      <div class="progress-bar">
        <p class="prog-title">NodeJS</p>
        <div class="progress-con">
          <p class="prog-text">70%</p>
          <div class="progress">
            <span class="node"></span>
          </div>
        </div>
      </div>
      <div class="progress-bar">
        <p class="prog-title">Java</p>
        <div class="progress-con">
          <p class="prog-text">75%</p>
          <div class="progress">
            <span class="python"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <h4 class="stat-title">My Experience</h4>
  <div class="timeline">
    <div class="timeline-item">
      <div class="tl-icon">
        <i class="fas fa-briefcase"></i>
      </div>
      <p class="tl-duration">2018 - 2022</p>
      <h5>Computer Science & Engineering<span> -Gita University</span></h5>
      <p>
        I have completed B.Tech with 82.3%.
      </p>
    </div>
    <div class="timeline-item">
      <div class="tl-icon">
        <i class="fas fa-briefcase"></i>
      </div>
      <p class="tl-duration">2023 - present</p>
      <h5>Assosiate Software Engineer<span> - ******* Limited</span></h5>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe quasi
        vero fugit.
      </p>
    </div>
  </div>
</section>
<app-portfolio></app-portfolio>
