<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="100"
    alt="Angular Logo"
    src="https://i.postimg.cc/QCdZZ6zh/s-logo.webp"
  />
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a class="nav-link" routerLink="/banner">HOME</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/about">ABOUT</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/portfolio">PORTFOLIO</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/contact">CONTACT</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/signup">LOGOUT</a>
    </li>
  </ul>
</div>
<app-banner></app-banner>
