<header class="container header active" id="home">
  <div class="back-to-home">
    <a class="btn btn-primary" routerLink="/navbar">Back to Home</a>
  </div>
  <div class="header-content">
    <div class="right-header">
      <h1 class="name">Hi, I'm<span>Soumya</span></h1>
      <p>
        I am a Computer Science and Engineering student of GITA College, BBSR,
        Odisha, India. I am a front end web developer and I am good at
        programming languages like (Android & Java), code-editors like (Android
        Studio, IntelliJ IDEA & Microsoft/VSCode), scripting-languages like
        (JavaScript, CSS, HTML, PHP). My birthplace is Jajpur, Odisha and I am
        currently leaving in Bhubaneswar, India.
      </p>
    </div>
    <div class="left-header">
      <div class="h-shape"></div>
      <div class="image">
        <img src="assets/Soumya Ranjan Rout.jpg" alt="" />
      </div>
    </div>
  </div>
</header>
<app-about></app-about>
