<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
  integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>
<link
  href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap"
  rel="stylesheet"
/>

<!-- Projects Section -->
<section id="projects">
  <div class="projects container">
    <div class="projects-header">
      <h1 class="section-title">PORTFOLIO</h1>
    </div>
    <div class="all-projects">
      <div class="project-item">
        <div class="project-info">
          <h1>Project 1</h1>
          <h2>Portfolio-Website</h2>
          <p>
            A complete responsive portfolio website that describes one persons
            skills and efforts.<br /><a
              href="https://github.com/soumya-debug/My-Website"
              target="blank"
            >
              <button id="myBtn">
                <span class="colorChange1">Project-URL</span>
              </button></a
            ><a href="https://soumya-debug.github.io/My-Website/" target="blank"
              ><button id="myBtn2">
                <span class="colorChange1">Website-URL</span>
              </button></a
            >
          </p>
        </div>
        <div class="project-img">
          <img src="https://i.ibb.co/tmj4FMV/portfolio.jpg" alt="portfolio" />
        </div>
      </div>
      <div class="project-item">
        <div class="project-info">
          <h1>Project 2</h1>
          <h2>Mapty-Weathers</h2>
          <p>
            A simple website that stores the data of your workouts and update it
            in geolocational website. It also shows weather of cities all across
            the world.<br /><a
              href="https://github.com/soumya-debug/Mapty-Weather"
              target="blank"
              ><button id="myBtn">
                <span class="colorChange1">Project-URL</span>
              </button></a
            ><a
              href="https://soumya-debug.github.io/Mapty-Weather/"
              target="blank"
              ><button id="myBtn2">
                <span class="colorChange1">Website-URL</span>
              </button></a
            >
          </p>
        </div>
        <div class="project-img">
          <img src="https://i.ibb.co/FnmPrBX/map.jpg" alt="map" />
        </div>
      </div>
      <div class="project-item">
        <div class="project-info">
          <h1>Project 3</h1>
          <h2>Library Management System(Sep 2021 - Present)</h2>
          <p>
            A complete Library-Management-System which is created by using
            Netbeans, Swing, Jframe, MySQL, php-myAdmin and Java. By using this
            software we can store database of books, student details and
            Payments of a library.<br />
            <a
              href="https://github.com/soumya-debug/Library_Management_System"
              target="blank"
              ><button id="myBtn2">
                <span class="colorChange1">Project-URL</span>
              </button></a
            >
          </p>
        </div>
        <div class="project-img">
          <img src="https://i.ibb.co/GtfHGpv/library.jpg" alt="library" />
        </div>
      </div>
      <div class="project-item">
        <div class="project-info">
          <h1>Project 4</h1>
          <h2>Pig Game</h2>
          <p>
            Pig is a jeopardy game, where you risk everything to see if you can
            win more.<br />
            <a href="https://github.com/soumya-debug/Pig-Game" target="blank"
              ><button id="myBtn2">
                <span class="colorChange1">Project-URL</span>
              </button></a
            >
            <a href="https://soumya-debug.github.io/Pig-Game/" target="blank"
              ><button id="myBtn2">
                <span class="colorChange1">Website-URL</span>
              </button></a
            >
          </p>
        </div>
        <div class="project-img">
          <img src="https://i.ibb.co/4FH9BFy/dice.jpg" alt="dice" />
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Projects Section -->
<app-contact></app-contact>
